body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #canvas {
    background-color: rgba(0,0,0,05);
  }
  #sheet {
    display: none;
  }